<div>
  <div class="jumbotron-b">
    <div class="container">
      <h1 class="display-3">Our menu this week!</h1>
    </div>
  </div>
  <div class="menu">
    <div class="item1"><i class="fa fa-cutlery icon"></i></div>
    <div class="item2">monday</div>
    <div class="item3">tuesday</div>
    <div class="item4">wednesday</div>
    <div class="item5">thursday</div>
    <div class="item6">friday</div>
    <div class="item7">breakfast</div>
    <div class="item8">french toast, scrambled eggs, fresh fruit</div>
    <div class="item9">french toast, scrambled eggs, fresh fruit</div>
    <div class="item10">french toast, scrambled eggs, fresh fruit</div>
    <div class="item11">french toast, scrambled eggs, fresh fruit</div>
    <div class="item12">french toast, scrambled eggs, fresh fruit</div>
    <div class="item13">snack</div>
    <div class="item14">cheese crackers and milk</div>
    <div class="item15">cheese crackers and milk</div>
    <div class="item16">cheese crackers and milk</div>
    <div class="item17">cheese crackers and milk</div>
    <div class="item18">cheese crackers and milk</div>
    <div class="item19">lunch</div>
    <div class="item20">turkey and cheese sandwich, fresh veggies with ranch</div>
    <div class="item21">turkey and cheese sandwich, fresh veggies with ranch</div>
    <div class="item22">turkey and cheese sandwich, fresh veggies with ranch</div>
    <div class="item23">turkey and cheese sandwich, fresh veggies with ranch</div>
    <div class="item24">turkey and cheese sandwich, fresh veggies with ranch</div>
    <div class="item25">snack</div>
    <div class="item26">fruit bar and milk</div>
    <div class="item27">fruit bar and milk</div>
    <div class="item28">fruit bar and milk</div>
    <div class="item29">fruit bar and milk</div>
    <div class="item30">fruit bar and milk</div>

</div>
</div>