<div class="jumbotron-b">
  <div class="container">
    <h1 class="display-3">Our menu this week!</h1>
    <p></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
   <%= image_tag "menu.jpg", alt: "Second slide", size: 1000 %>
  </div>

  <hr>

</div> <!-- /container -->