

<div class="jumbotron-c">
        <div class="container">
          <h1 class="display-3">Pricing</h1>
          <p></p>
          <p><a class="btn btn-secondary btn-lg" href="contact" role="button">
          Contact Us &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Full Time</h2>
            <p>6 weeks - 12 months: $-- <br>
               12 months - 3 years: $-- <br>
               3 years - 5 years : $--</p>

          </div>
          <div class="col-md-4">
            <h2>Part Time</h2>
            <p>6 weeks - 12 months: $-- <br>
               12 months - 3 years: $-- <br>
               3 years - 5 years : $--</p>

          </div>
          <div class="col-md-4">
            <h2>Drop in</h2>
            <p>6 weeks - 12 months: $-- <br>
               12 months - 3 years: $-- <br>
               3 years - 5 years : $--</p>

          </div>
        </div>

        <hr>

      </div> <!-- /container -->