@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
}

.top a {
  color: red;
}

.display-3 {
  padding-top: 6rem;
}

.container-fluid {
  padding: 4rem;
  margin-bottom: auto;
  text-align: center;
}

.container-footer {
   position:absolute;
   bottom:5;
   width:100%;
   text-align: center;
   margin-bottom:15px;
   font-size: .7rem;
}

.col-sm-6 {
  padding: 1rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.left a {
  color: black;
  text-decoration: underline;
}

.right {
  position: relative;
  width: 75%;
}

.contact {
  padding-bottom: 1rem;
}

.fa {
  padding: 10px;
  color: #d3d3d3;
  text-shadow: #3f3f3f 0.05em 0 0.3em;
}

.background {
  background-color: rgba(135, 169, 107, .3);
  margin-top: -4rem;
  margin-bottom: -4rem;
}

iframe {
  height: 100%;
  width: 100%;
}

.jumbotron-a {
    font-size: 5rem;
    font-family: 'Barrio', cursive;
    color: rgba(255,255,255,.75);
    margin-top: -4rem;
    margin-bottom: 1rem;
    background-image: url(becca-tapert-357541.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 3.5rem;
}

.jumbotron-b {
    font-size: 5rem;
    font-family: 'Barrio', cursive;
    color: rgba(255,255,255,.75);
    margin-top: -4rem;
    margin-bottom: 1rem;
    background-image: url(kelly-sikkema-212376.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 12rem;
}

.jumbotron-c {
    font-size: 5rem;
    font-family: 'Barrio', cursive;
    color: rgba(255,255,255,.75);
    text-shadow: black 0.1em 0em 0.3em;
    margin-top: -4rem;
    margin-bottom: 1rem;
    background-image: url(michael-podger-41325.jpg);
    background-position: 0% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.bio {
  text-left: center;
  padding: 5px 50px 5px 5px;
}

.navbar {
  background-color: rgba(211,211,211,.5);
}

#navbarCollapse {
  padding-left: 100px;
}

#navbarCollapse li a {
  color: white;
  font-size: 1.1rem;
}

#navbarCollapse li a:hover {
  color: rgb(64,64,64)
}

h2 {
  font-family: 'Homemade Apple', cursive;
  padding: 5px;
}


.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  background-color: rgba(159, 27, 20, .8);
  margin: 25px;
  padding: 2px;
  border-radius: 5px;
}
.menu > div {
  background-color: white;
  border: 1px solid rgba(159, 27, 20, .8);
  border-radius: 1px;
  padding: 20px;
  font-size: 17px;
  text-align: center;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
  grid-row: 1 / 2;
}

.icon {
  padding: 1px;
  color: black;
  text-shadow: #3f3f3f 0.05em 0 0.1em;
  font-size: 1.5rem;
}
