@import "bootstrap";

body {
  padding-top: 3.5rem;
}

.top a {
  color: red;
}

.jumbotron-a {
    margin-bottom: 0px;
    background-image: url(becca-tapert-357541.jpg);
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.jumbotron-b {
    margin-bottom: 0px;
    background-image: url(kelly-sikkema-212376.jpg);
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.jumbotron-c {
    margin-bottom: 0px;
    background-image: url(michael-podger-41325.jpg);
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

